<div class="jumbotron">
  <h1><%= @new_recipe.name() %></h1>


  <form action="/recipes/<%= @new_recipe.id() %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <button type="submit" class="btn btn-danger">Delete <%= @new_recipe.name() %></button>
  </form>
</div>

<div class="col-md-6">
  <div class="jumbotron">
    <form action="/recipes/<%= @new_recipe.id() %>/instructions" method="post">
      <div class="form-group">
        <label for="description">Add a step to the instructions:</label>
        <input type="text" name="description" id="description" class="text-center">
        <input type="hidden" name="recipe_id" id="recipe_id" value="<%= @new_recipe.id() %>">
        <br></br>
        <button type="submit" class="btn btn-danger">Add Instruction</button>
      </div>
    </form>

    <% if @instructions.any?() %>

      <h4>Here are the recipe directions:</h4>

      <ol>
      <% @instructions.each() do |instruction| %>

          <li>
            <div class="form-inline">
              <%= instruction.description() %> -
              <form class="edit-form" action="/recipes/<%= @new_recipe.id() %>/instructions/<%= instruction.id %>" method="post">
                <input type="hidden" name="_method" value="patch">
                <input class="text-center" type="text" name="edit_description" id="edit_description">
                <button type="submit"><span class="glyphicon glyphicon-edit" aria-hidden="true"></button>
              </form>
              <form class="delete-button" action="/recipes/<%= @new_recipe.id() %>/instructions/<%= instruction.id() %>" method="post">
                <input type="hidden" name="_method" value="delete">
                <button type="submit"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
              </form>
            </div>
          </li>

      <% end %>
    </ol>

    <% else %>

      <h4>There aren't any instructions yet.</h4>

    <% end %>

  </div>
</div>


<div class="col-md-6">
  <div class="jumbotron">
    <form action="/recipes/<%= @new_recipe.id() %>/ingredients" method="post">
      <div class="form-group">
        <label for="ingredient">Add an ingredient:</label>
        <input type="text" name="ingredient" id="ingredient" class="text-center">
        <input type="hidden" name="recipe_id" id="recipe_id" value="<%= @new_recipe.id() %>">
        <br></br>
        <button type="submit" class="btn btn-danger">Add Ingredient</button>
      </div>
    </form>

    <% if @ingredients.any?() %>

      <h4>Here are the ingredients:</h4>

      <div class="list">
        <ul>
          <% @ingredients.each() do |ingredient| %>
            <li>
              <%= ingredient.name() %>
            </li>
          <% end %>
        </ul>
      </div>

    <% else %>

      <h4>There aren't any ingredients yet.</h4>

    <% end %>

  </div>
</div>
